$bg-color: #0b101e;

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: calc(100vw - 50px);
  margin: 0 auto;
  align-items: center;
  padding: 0;
}

body {
  background-color: $bg-color;
  margin: 0;
  padding: 0;
}

.el-table .danger-row {
  --el-table-tr-bg-color: var(--el-color-danger-light-3);
}
.el-table .warning-row {
  --el-table-tr-bg-color: var(--el-color-warning-light-3);
}
.el-table .success-row {
  --el-table-tr-bg-color: var(--el-color-success-light-3);
}
.el-table .clickable-row {
  cursor: pointer;
}

.el-upload-dragger {
  margin: 0 0 10px 0;
  padding: 10px !important;
  width: 92vw;
  background: $bg-color;
}

.card-container {
  padding: 0;
  column-count: 4;
  column-gap: 16px;
  width: 100%;
}

.el-card {
  margin-bottom: 20px;
  width: 100%;
  break-inside: avoid;
}

.el-card__body {
  padding: 0;
}

.btn-container {
  padding: 0;
  gap: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 0;
}

.el-image {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}

.el-tabs {
  width: 100%;
}